NEXT_PUBLIC_SUPABASE_URL=https://ctxylgltrhvxpkyskdml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0eHlsZ2x0cmh2eHBreXNrZG1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTMxNTQsImV4cCI6MjA5MDQyOTE1NH0.4S7_EmLx-MHMCkq7fnaMCSkBbx-S-BUcpdiHC1Ic_V8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0eHlsZ2x0cmh2eHBreXNrZG1sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg1MzE1NCwiZXhwIjoyMDkwNDI5MTU0fQ.P5aoDlXwrL_4DlGaqdDpxg3jBVeDyeiJCdLTRe9MT6Q
