NEXT_PUBLIC_SUPABASE_URL=https://truxojpodfgkaiftwtnv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRydXhvanBvZGZna2FpZnR3dG52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTg2MDMsImV4cCI6MjA5MDQzNDYwM30.3L9mjjpzAvHAkje4GEnNZ07rSJKZyC1iRObWs_XY_L0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRydXhvanBvZGZna2FpZnR3dG52Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg1ODYwMywiZXhwIjoyMDkwNDM0NjAzfQ.H0DV4QLeUZfQWD0_HEpo7qrSIJsaUeFdZ8_hkYh4Ko0
